body,
div {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.main {
  background-color: black;
  width: 380px;
  height: 500px;
  position: relative;
  display: inline-block;
}
.dc {
  display: inline-block;
  height: 500px;
  width: 600px;
  margin-left: 20px;
  border: 2px solid #eee;
}
.dc table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}
.dc table thead {
  background-color: #eee;
  line-height: 2;
  text-align: center;
}
.dc table thead tr td {
  border: 1px solid #ddd;
}
.dc table tbody {
  line-height: 2;
  text-align: center;
}
.dc table tbody tr td {
  border: 1px solid #ddd;
}
.control {
  width: 80%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
}
.planet {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  background-color: blue;
  margin-left: -75px;
  margin-top: -75px;
  border-radius: 75px;
}
.ship {
  width: 90px;
  height: 40px;
  background-color: #eee;
  border-radius: 20px;
  position: absolute;
  display: none;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.orbit {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 1px solid yellow;
  top: 125px;
  left: 65px;
}
#ship1,
#ship2,
#ship3,
#ship4 {
  top: 105px;
  left: 145px;
}
#tip {
  font-weight: bold;
  color: red;
}
#control-list .control-list-ele {
  display: none;
}
#create {
  margin-bottom: 5px;
}
/*
#ship2 {
  top: @mainHeight / 2 - (@shipHeight / 2);
  left: @mainWidth / 2 - @orbitRadius - (@shipWidth / 2);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
*/
