@mainWidth: 380px;
@mainHeight: 500px;

body, div {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

ul li{
  list-style: none;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.main {
  background-color: black;
  width: @mainWidth;
  height: @mainHeight;
  position: relative;
  display: inline-block;
}

.dc {
  display: inline-block;
  height: @mainHeight;
  width: 600px;
  margin-left: 20px;
  border: 2px solid #eee;
  table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    thead {
      background-color: #eee;
      line-height: 2;
      text-align: center;
      tr td {
        border: 1px solid #ddd;
      }
    }
    tbody {
      line-height: 2;
      text-align: center;
      tr td {
        border: 1px solid #ddd;
      }
    }
  }
}

.control {
  width: 80%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
}

@planetSize: 150px;
.planet {
  position: absolute;
  left: 50%;
  top: 50%;
  width: @planetSize;
  height: @planetSize;
  background-color: blue;
  margin-left: -@planetSize / 2;
  margin-top: -@planetSize / 2;
  border-radius: @planetSize / 2;
}

@orbitRadius: @planetSize / 2 + 50px;
@shipWidth: 90px;
@shipHeight: 40px;
.ship {
  width: @shipWidth;
  height: @shipHeight;
  background-color: #eee;
  border-radius: @shipHeight / 2;
  position: absolute;
  display: none;
  line-height: @shipHeight;
  text-align: center;
  font-weight: bold;
}

.orbit {
  position: absolute;
  width: @orbitRadius * 2;
  height: @orbitRadius * 2;
  border-radius: @orbitRadius;
  border: 1px solid yellow;
  top: (@mainHeight - @orbitRadius * 2) / 2;
  left: (@mainWidth - @orbitRadius * 2) / 2;
}

#ship1, #ship2, #ship3, #ship4 {
  top: @mainHeight / 2 - @orbitRadius - (@shipHeight / 2);
  left: @mainWidth / 2 - (@shipWidth / 2);
}

#tip {
  font-weight: bold;
  color: red;
}

#control-list .control-list-ele {
  display: none;
}

#create {
  margin-bottom: 5px;
}
/*
#ship2 {
  top: @mainHeight / 2 - (@shipHeight / 2);
  left: @mainWidth / 2 - @orbitRadius - (@shipWidth / 2);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
*/
